* {
  font-family: Arial;
  margin: 0;
}

.container {
  width: 600px;
  margin: 0 auto;
}

h1{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.header, .footer{
  margin-top: 12px;
  margin-bottom: 64px;
  background-color: #d5d5d5;
  padding: 4px;
}

p{
  margin-bottom: 16px;
}

h2{
  font-size: 16px;
  margin-bottom: 16px;
}

.score{
  font-weight: bold;
  color: #1cb71c;
}

input[type=radio], label{
  margin: 0 0 12px 24px;
}

button{
  font-size: 12px;
  width: 100px;
  height: 24px;
  background-color:#0A0A5D;
  color: white;
  font-weight: bold;
  margin: 32px auto;
}

.hidden {
  display: none;
}

.correct-answer {
  color: #1cb71c;
  font-weight: bold;
}

.wrong-answer {
  color: red;
  font-weight: bold;
}